.googleHomeContainer {
  height: 100vh;
  display: flex;
  margin-top: 260px;
  flex-direction: column;
  align-items: center;
}

.googleLogo {
  margin-bottom: 20px;
  img {
    width: 272px;
  }
}

.error {
  color: red;
  font-weight: bold;
  font-size: 12px;
}

.buttons {
  padding-top: 20px;
  .searchButton {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    text-align: center;
    cursor: pointer;
  }
}
